<div id='main'>
    <div class="container">  
        <div class="row col-md-8 col-md-offset-2 custyle text-center">
            <p><h2><strong>Admin Options</strong></h2></p>  
            <ul class="list-group">  
                <li class="list-group-item" ng-click=""><a href="/user">Users Management</a></li>
                <li class="list-group-item" ng-click=""><a href="/product">Add Products</a>
                <li class="list-group-item" ng-click=""><a href="/subproduct">Add Sub-Products</a>
                <li class="list-group-item" ng-click=""><a href="/subject">Add Subjects</a></li>
                <li class="list-group-item" ng-click=""><a href="/question">Add Questions</a></li>
                <li class="list-group-item" ng-click=""><a href="/answer">Add Answers</a></li>
                <li class="list-group-item" ng-click=""><a href="/document">Upload Documents</a></li>
            </ul> 
        </div> 
    </div>  
</div>

