<div id='main' ng-cloak>
    <div class="container">
            <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li class="active">Admin</li>
            </ol>
            <div class="row text-center pad-botom">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 ">
                    <h1>Admin Options</h1>
                    <h4>
                       Manage users and faq's contents
                    </h4>
                </div>
                </div>
            <div class="row text-center pad-botom">
                <br/>
                <br/>
                <br/>
                <br/>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="/user"><i class="fa fa-users  fa-5x" ng-click=""></i>
                    <h3>USER MANAGEMENT</h3>
                    <p>
                        Manage user profiles. 
                        Add, edit or delete user profiles
                    </p></a>
                </div>
                 <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="/product"><i class="fa fa-suitcase  fa-5x" ng-click=""></i>
                    <h3>PRODUCT MANAGEMENT</h3>
                    <p>
                        Manage user products. 
                        Add, edit or delete products.
                    </p></a>
                </div>
                 <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="/subproduct"><i class="fa fa-bolt  fa-5x" ng-click=""></i>
                    <h3>SUBPRODUCT MANAGEMENT</h3>
                    <p>
                        Manage subproducts.
                        Add, edit or delete subproducts.
                        Manage subjects, questions and answers for subproduct
                    </p></a>
                </div>
            </div>
    </div>
    <!-- <div class="container">  
        <div class="row col-md-8 col-md-offset-2 custyle text-center">
            <p><h2><strong>Admin Options</strong></h2></p>  
            <ul class="list-group">  
                <li class="list-group-item" ng-click=""><a href="/user">Users Management</a></li>
                <li class="list-group-item" ng-click=""><a href="/product">Add Products</a>
                <li class="list-group-item" ng-click=""><a href="/subproduct">Add Sub-Products</a>
                <li class="list-group-item" ng-click=""><a href="/subject">Add Subjects</a></li>
                <li class="list-group-item" ng-click=""><a href="/question">Add Questions</a></li>
                <li class="list-group-item" ng-click=""><a href="/answer">Add Answers</a></li>
                <li class="list-group-item" ng-click=""><a href="/document">Upload Documents</a></li>
            </ul> 
        </div> 
    </div>  --> 
    <!-- CONATINER END -->
</div>

