<div id='main' ng-controller="AdminDetailController" ng-init ="getAllData()" ng-cloak>
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/subproduct">Subproduct Management</a></li>
      <li class="active">{{subproduct.name}}</li>
    </ol> 
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Subproduct Details
        </div>
        <div class="panel-body">
          <div class="row">
            <strong>&nbsp;Product Name: </strong>{{product.name}}
          </div>
          <div class="row">
            <br/>
            <strong>&nbsp;Name: </strong>{{subproduct.name}}
          </div>
          <div class="row">
            <strong>&nbsp;Description: </strong>
            <br/>
            &nbsp;{{subproduct.desc}}
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-body">
          <div class="row text-center">
            <div class="btn-group-vertical btn-block" role="group" aria-label="...">
              <a class="btn btn-default btn-success"><i class="fa fa-pencil" aria-hidden="true" ng-click="addSubject()"></i> Edit Subproduct</a>
              <a class="btn btn-default btn-primary" ng-click="addSubject()"><i class="fa fa-plus" aria-hidden="true"></i> Add Subject</a>
              <a class="btn btn-default btn-primary" ng-click="addQuestion()"><i class="fa fa-plus" aria-hidden="true"></i> Add Question</a>
              <a class="btn btn-default btn-primary" ng-click="addAnswer()"><i class="fa fa-plus" aria-hidden="true"></i> Add Answer</a>
              <a class="btn btn-default btn-danger" ng-click="addSubject()"><i class="fa fa-trash" aria-hidden="true"></i> Delete Subproduct</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-10">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#subject" aria-controls="subject" role="tab" data-toggle="tab">Subjects</a></li>
        <li role="presentation"><a href="#question" aria-controls="question" role="tab" data-toggle="tab">Questions</a></li>
        <li role="presentation"><a href="#answer" aria-controls="settings" role="tab" data-toggle="tab">Answers</a></li>
        <li role="presentation"><a href="#file" aria-controls="settings" role="tab" data-toggle="tab">Documents</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="subject">
          <h3 class="text-center"><strong>Subject List</strong></h3> 
          <table class="table table-striped custab">
            <thead>
              <tr class="bg-primary">
                <th>SUBJECT</th>
                <th>DESCRIPTION</th>
                <!-- <th>Edit</th>--> 
                <th class="text-center">DELETE</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="subject in subjectList track by subject.id">
                  <th>{{subject.name}}</th>
                  <th>{{subject.desc}}</th>
                  <!-- <th><i class="fa fa-pencil-square-o text-primary fa-lg" aria-hidden="true" ng-click=""></i></th> -->
                  <th class="text-center"><i class="fa fa-trash text-danger fa-lg" aria-hidden="true" ng-click="deleteSubject(ev,subject)"></i></th>
              </tr>
            </tbody>
          </table> 
        </div>
        <div role="tabpanel" class="tab-pane" id="question">
          <h3 class="text-center"><strong>Question List</strong></h3> 
          <table class="table table-striped custab">
            <thead>
              <tr class="bg-primary">
                <th>QUESTION</th>
                <th>DESCRIPTION</th>
                <!-- <th>Edit</th> -->
                <th class="text-center">DELETE</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="question in questionList track by question.id">
                <th>{{question.name}}</th>
                <th>{{question.desc}}</th>
                <!-- <th><i class="fa fa-pencil-square-o text-primary fa-lg" aria-hidden="true" ng-click=""></i></th> -->
                <th class="text-center"><i class="fa fa-trash text-danger fa-lg" aria-hidden="true" ng-click="deleteQuestion(ev,question)"></i>
              </tr>
            </tbody>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="answer">
          <h3 class="text-center"><strong>Answer List</strong></h3> 
          <table class="table table-striped custab">
            <thead>
              <tr class="bg-primary">
                <th>ANSWER</th>
                <th>DESCRIPTION</th>
                <!-- <th>Edit</th> -->
                <th class="text-center">DELETE</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="answer in answerList track by answer.id">
                <th>{{answer.name}}</th>
                <th><p ng-bind-html="returnHtml(answer.desc)"></p></th>
                <!-- <th><i class="fa fa-pencil-square-o text-primary fa-lg" aria-hidden="true" ng-click=""></i></th> -->
                <th class="text-center"><i class="fa fa-trash text-danger fa-lg" aria-hidden="true" ng-click="deleteAnswer(ev,answer)"></i></th>
              </tr>
            </tbody>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="file">
          <h3 class="text-center"><strong>Document List</strong></h3> 
        </div>
      </div>
    </div>
  </div>
</div>