<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Knowledge Portal' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-markdown.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/cloak.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/ng-tags-input.bootstrap.min.css">
    <link rel="stylesheet" href="/styles/ng-tags-input.min.css">
    <link rel="stylesheet" href="/styles/node_modules/angular-material/angular-material.min.css">
    <!--STYLES END-->
  </head>

  <body ng-app="myApp">
  <div id=main ng-controller="MainController" ng-cloak ng-init="userInit()">
    <div ng-show="user">
      <nav class="navbar navbar-default" ng-show="user">
      <div class="container-fluid">
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>{{user.username}}</strong><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href ="/" ng-click="">Home</a>
              <li ng-show="user.userType == 1"><a href="/admin">Admin</a>
              <li><a href="/logout" ng-click="">Logout</a>
            </ul>
          </li>
          </ul>
        </div>
     </nav>
    </div>
  </div>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/ui-bootstrap-tpls-2.2.0.min.js"></script>
    <script src="/js/dependencies/angular-ui-router.min.js"></script>
    <script src="/js/dependencies/app.js"></script>
    <script src="/js/dependencies/bootstrap-markdown.js"></script>
    <script src="/js/dependencies/clipboard.min.js"></script>
    <script src="/js/dependencies/marked.min.js"></script>
    <script src="/js/dependencies/md2html.js"></script>
    <script src="/js/dependencies/ng-tags-input.min.js"></script>
    <script src="/js/dependencies/ngclipboard.min.js"></script>
    <script src="/js/dependencies/node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="/js/dependencies/node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="/js/dependencies/node_modules/angular-cookies/angular-cookies.min.js"></script>
    <script src="/js/dependencies/node_modules/angular-file-saver/dist/angular-file-saver.bundle.js"></script>
    <script src="/js/dependencies/node_modules/angular-material/angular-material.min.js"></script>
    <script src="/js/dependencies/node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="/js/dependencies/node_modules/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <script src="/js/dependencies/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/js/dependencies/node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script src="/js/dependencies/node_modules/showdown/dist/showdown.min.js"></script>
    <script src="/js/dependencies/service.js"></script>
    <script src="/js/dependencies/to-markdown.js"></script>
    <script src="/js/controllers/addanswermodalcontroller.js"></script>
    <script src="/js/controllers/adddocumentmodalcontroller.js"></script>
    <script src="/js/controllers/addproductmodalcontroller.js"></script>
    <script src="/js/controllers/addquestionmodalcontroller.js"></script>
    <script src="/js/controllers/addsubjectmodalcontroller.js"></script>
    <script src="/js/controllers/addsubproductmodalcontroller.js"></script>
    <script src="/js/controllers/addusermodalcontroller.js"></script>
    <script src="/js/controllers/adminanswercontroller.js"></script>
    <script src="/js/controllers/admindetailcontroller.js"></script>
    <script src="/js/controllers/adminproductcontroller.js"></script>
    <script src="/js/controllers/adminquestioncontroller.js"></script>
    <script src="/js/controllers/adminsubjectcontroller.js"></script>
    <script src="/js/controllers/adminsubproductcontroller.js"></script>
    <script src="/js/controllers/adminusercontroller.js"></script>
    <script src="/js/controllers/editsubproductmodalcontroller.js"></script>
    <script src="/js/controllers/logincontroller.js"></script>
    <script src="/js/controllers/maincontroller.js"></script>
    <script src="/js/controllers/productcontroller.js"></script>
    <script src="/js/controllers/qnacontroller.js"></script>
    <script src="/js/controllers/registercontroller.js"></script>
    <script src="/js/controllers/subjectcontroller.js"></script>
    <script src="/js/controllers/subproductcontroller.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
