<div id='main' ng-controller="AdminSubProductController" ng-init ="getAllSubProduct()">
    <div class="container" ng-cloak> 
    	<div class="row col-md-8 col-md-offset-2 custyle">
    		<h3>Product List</h3>
    		<select class="form-control" id="product" ng-model="productId" ng-options="product.id as product.name for product in productList" ng-change="filterSubProduct(productId)">
	    			<option>{{productId}}</option>
	  		</select>
    	</div>
	    <div class="row col-md-10 col-md-offset-1 custyle">
	    	<h3 class="text-middle">Sub Product List</h3> 
	        <table class="table table-striped custab">
	        	<thead>
	        	<a href="#" class="btn btn-primary btn-xs pull-right" ng-click="addSubProduct()"><b>+</b> Add new sub product</a>
	        		<tr>
	        			<th>Sub Product</th>
	        			<th>Description</th>
	        			<!-- <th>Edit</th> -->
	        			<th class="text-center">Delete</th>
	        			<th class="text-center">Add Subject</th>
	        		</tr>
	        	</thead>
	        	<tbody>
	        		<tr ng-repeat="subproduct in subproductList track by subproduct.id">
	        			<th>{{subproduct.name}}</th>
	        			<th>{{subproduct.desc}}</th>
	        			<!-- <th><i class="fa fa-pencil-square-o text-primary" aria-hidden="true" ng-click=""></i></th> -->
	        			<th class="text-center"><i class="fa fa-trash text-danger" aria-hidden="true" ng-click="deleteSubProduct(ev,subproduct)"></i></th>
	        			<th class="text-center"><strong><i class="fa fa-plus-square text-success fa-lg" aria-hidden="true" ng-click="addSubject(ev,subproduct)"></i></strong></th>
	        		</tr>
	        	</tbody>
	        </table>
	    </div>
    </div>  
</div>
