<div id='main' ng-controller="ProductController" ng-init ="getproduct()">
    <div class="container" ng-cloak>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Home</li>
        </ol> 
        <div class="row col-md-8 col-md-offset-2 custyle">
            <p><h2  class="text-center"><strong>Product List</strong></h2></p>  

            <div class="panel-group">
              <div class="panel panel-default" ng-repeat="product in productList track by product.id" ng-click="selectProduct(product)">
                <div class="panel-heading">
                  <a data-toggle="collapse" ng-href="#{{product.id}}"><h4 class="panel-title">
                    {{product.name}}
                  </h4></a>
                </div>
                <div id="{{product.id}}" class="panel-collapse collapse">
                  <ul class="list-group" ng-repeat="subproduct in product.subproduct track by subproduct.id">
                    <a href="/qna"><li class="list-group-item" ng-click="selectSubProduct(subproduct)">{{subproduct.name}}</li></a>
                  </ul>
                </div>
              </div>
            </div>
            <!-- <div class="list-group">  
            <a ng-href="/subproductlist" class="list-group-item" ng-repeat="product in productList track by product.id" ng-click="selectProduct(product)">                  
                <h4 class="list-group-item-heading"><strong>{{product.name}}</strong></h4>  
                <p class="list-group-item-text">{{product.desc}}</p>  
            </a>  -->
        </div>  
        </div> 
    </div>  
</div>