<div id='main' ng-controller="qnaController" ng-init ="getData()">
    <div class="container" ng-cloak>
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">{{subproduct.name}}</li>
        </ol>  
        <div class="row col-md-8 col-md-offset-2 custyle">
            <p><h2  class="text-center"><strong>{{subproduct.name}}</strong></h2></p>
        </div>  
        <div class="row col-md-8 col-md-offset-2">
             <select class="form-control" id="subject" ng-model="subject" ng-options="subject.id as subject.name for subject in subjectList" ng-change="getQuestion(subject)">
                    <option>{{subject}}</option>
                </select>
        </div>
        <div class="row col-md-8 col-md-offset-2">
            <br/>
            <div class="input-group" ng-show="subject">
              <input type="text" class="form-control"  ng-model="keyword" placeholder="Search questions">
              <!-- <input type="text" class="form-control"  ng-model="keyword" ng-change="getText(keyword)" placeholder="Search questions"> -->
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
              </span>
            </div>
        </div>
        <div class="row col-md-12">
            <br/>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default" ng-repeat="question in questionList | filter:keyword">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion" ng-href="#{{question.id}}" ng-bind-html="question.name| highlight:keyword"></a>
                  </h4>
                </div>
                <div id="{{question.id}}" class="panel-collapse collapse">
                  <div class="panel-body" ng-repeat="answer in question.answer | filter:keyword">
                    <h4 class="condensedlines"><p ng-bind-html="returnHtml(answer.desc) | highlight:keyword"></p></h>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>  
</div>